@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}
.wlletButton .wallet-adapter-button-trigger{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}
.wlletButton .wallet-adapter-button-trigger {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  font-size: .875rem;
  line-height: 1.15rem;
  height: 40px;
  --tw-bg-opacity: 1;
    background-color: rgb(134 239 172 / var(--tw-bg-opacity)) !important;
    border-radius: .25rem;
}
.wlletButton .wallet-adapter-button-trigger i{
  display: none;
}
.wallet-adapter-button-trigger {
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.form {
  margin-top: 2rem;
  border: 1px solid rgba(248,250,252,0.1);
  padding: 20px;
  border-radius: 8px;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.success {
  margin-top: 1.5rem;
  padding: 1rem;
  background: #e8f5e9;
  border: 1px solid #a5d6a7;
  border-radius: 4px;
  color: #2e7d32;
}

.error {
  margin-top: 1.5rem;
  padding: 1rem;
  background: #ffebee;
  border: 1px solid #ef9a9a;
  color: #c62828;
}
.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(27 29 40 / var(--tw-bg-opacity));
}